.NavBarWrapper{
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100px;
    border-bottom: var(--clrorange) solid 1px;
    z-index: 0;
    background-color: var( --clrNav);
}

.settingsButton{
    position: absolute;
    top: 15px;
    background-color: var(--color-button-primary-solid-bg);
    border-radius: 10px;
    right: 0px;
    margin: 10px;
    cursor: pointer;
    padding: 10px;
    padding-bottom: 7px;
    transition: transform 0.3s ease-in-out;
}
.settingsButton label{
    top: -11px;
    
    left: 0px;
    position: relative;
}
.settingsButton:hover{
    transform: scale(1);
}

.moduleOption{
        position: relative;
        top: -70px;
        margin-left: 90px;
        margin-right: 90px;
        padding: 5px 15px;
        margin: 26px 60px 2px;
        border: var(--color-border-primary) solid 1px;
        color: var(--color-text-primary);
        border-radius: 20px;
        font-size: 17px;
        cursor: pointer;
        transition: 0.5s;
}

.menuIconOpen{
    
    background-color: var(--color-button-primary-solid-bg);
    border-bottom: var(--clrInputs);
    border-radius: 10px;
    padding-bottom: 55px;
    margin-bottom: 20px;
}

.navMenuPop{
    width: 82px;
    position: absolute;
    right: -0px;
    top: -30px;
    height: 32px;
    padding-top: 10px;
    background-image: var(--color-button-primary-gradient-bg);
}


.navMenuCarveLeft{
    width: 60px;
    height: 60px;
    background-color: var(--clrBackground);
    border-radius: 50%;
    position: absolute;
    right: 52px;
    top: -60px;
    z-index: 1;
}



.navMenu {
    position: absolute;
    top: 100px;
    right: 10px;
    width: fit-content;
    padding: 10px;
    background-image:  var(--color-button-primary-gradient-bg);
    border-radius: 25px;
    border-top-right-radius: 0px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    z-index: 1;
}

.navMenuBar{
    position: absolute;
    width: 100%;
    top: 100px;
    background-image: var(--color-button-primary-gradient-bg);
    height: 10px;
}


.navMenuOption{
    color: var(--clrNavText);
    font-size: 20px;
    cursor: pointer;
    border-radius: 25px;
    /* put text in the middle  */
    display: flex;
    justify-content: center;
    align-items: center;
    

    background-color: var(--clrBackground);
    width: 200px;
    height: 40px;
    margin: 2px;
    transition: 0.5s;
}

.navMenuOption:hover{
    background-color: var(--clrNavText);
    color: var(--clrNav);
}

.navMenuBackground{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
}

.modeToggle{
    position: absolute;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    width: 35px;
    height: 35px;
    margin: 20px;
    cursor: pointer;
}

.modeIcon{
    fill: currentColor;
    background-color: var(--clrNav);
    color: var(--color-text-primary);
    
    border-radius: 50%;
    break-inside: avoid;
   
    height: 35px;
    width: 35px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.nightIcon{
    border-color: var(--color-border-primary);

}

.dayIcon{
    border-color: var(--color-border-primary);
}

